:root {
  --user-color: hotpink;
  /*--user-color: #1cd67e;*/
  --send-button-size: 2.5rem;
}

html {
  /*background: var(--user-color);*/
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #4d4d4d;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

button {border:0; outline:none;}

.sendButton {
  width: var(--send-button-size);
  height: var(--send-button-size);
  display: inline-block;
  /*margin-left: 1rem;*/

  margin: 0 0.5rem;
  padding: 0;

  border-radius: 50%;
  /*background: var(--user-color);*/
  background-color: var(--user-color);

  background-image: url('../imgs/sendButton.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  /*transition-duration: 300ms;*/
}

/*.sendButton:active {
  background-color: var(--user-color);
}*/

.sendButton:disabled {
  background-color: #d2d2d2 !important;
}

.sendButtonImg {
  background-image: url('../imgs/sendButton.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 100%;
}

.message {
  background: var(--user-color);
  color: #fff;
  padding: 0.5em;
  margin: 0.5em 1em;
}

.messagesContainer {
  /*padding: 1em;*/
  overflow-y: scroll;
}

.messagesContainer::-webkit-scrollbar {
    display: none;
}

form {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  /*top: calc(100vh - 56px);*/
  width: calc( 100% - 1rem );
  margin: 0.5rem;
}

.textForm {
  visibility: visible;
}

.textarea-container {
  position: relative;
  width: calc( 100% - var(--send-button-size) - 1rem );
}

textarea::placeholder {
  color: #d2d2d2;
}

textarea:active, textarea:focus {
  border-color: var(--user-color);
}

.wordwrap {
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}

.textarea-size {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.newTA {
  display: flex;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  width: 100%;
  /*box-sizing: border-box;*/
  border-width: 0;
  /*height: 2.5rem;*/
  /*padding: 0.55rem;*/
  padding: 0;
  line-height: 20px;

  border: 1px #e6e6e6 solid;
  border-top: none;
  border-right: none;
  border-left: none;
  outline:none;

  background: transparent;
  color: #fff
}

.promptContainer {
  background: #353535;
  color: hotpink;
  padding: 2rem;
  font-size: 2.5rem;
}

.scoreContainer {
  background: #353535;
  color: hotpink;
  padding: 2rem;
  font-size: 2.5rem;
}

.noYesContainer {
  /*visibility: hidden;*/
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.noYesContainer>button {
  height: 40px;
  width: 100%;
  border-radius: 2px;
  margin: 0 0.5em;
}

.ttButtonContainer {
  /*visibility: hidden;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*margin: 0.5em;*/
}

.ttButtonContainer>button {
  height: 200px;
  width: 100%;
  border-radius: 0px;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  /*margin: 0 0.5em;*/
  /*background-color: #fff;*/
  background: linear-gradient(30deg, var(--user-color), #fff);
  box-shadow: #000 0px 2px 24px 0px;
  /*transition-duration: 100ms;*/
}

.ttButtonContainer>button:active {
  /*background: var(--user-color);*/
  background: linear-gradient(120deg, var(--user-color), #fff);
  box-shadow: inset #000 0px 2px 10px 2px;
}

.ttButtonContainer>button:disabled {
  /*background-color: var(--user-color);*/
  opacity: 0.5;
  /*color: #fff;*/
  box-shadow: inset #000 0px 2px 10px 2px;
}

.or {
  color: var(--user-color);
  margin: 1.5rem 0;
}

.hidden {
  visibility: hidden;
}

.blue {
  background: #0000ff;
}

.none {
  display: none;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.flashAnim {
  animation: flashgo 1s 1; /* IE 10+, Fx 29+ */
  animation-fill-mode: forwards;
}

@keyframes flashgo {
  0%   {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
