:root {
  --user-color: hotpink;
  /*--user-color: #1cd67e;*/
  --send-button-size: 2.5rem;
}
/*
* {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}*/

html {
  /*background: var(--user-color);*/
  font-size: 16px;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'ABeeZee', sans-serif;
  background: #353535;
  -webkit-tap-highlight-color:transparent;
}

body {
  margin: 0;
  /*overflow-x: hidden;
  overflow-y: hidden;*/
}

body::-webkit-scrollbar {
    display: none;
}

button {border:0; outline:none;}

.url {
  text-align: center;
  background: #e6e6e6;
  font-weight: bold;
  padding: 0.5em;
}

.sendButton {
  width: var(--send-button-size);
  height: var(--send-button-size);
  display: inline-block;
  /*margin-left: 1rem;*/

  margin: 0 0.5rem;
  padding: 0;

  -webkit-border-radius: 50%;

          border-radius: 50%;
  /*background: var(--user-color);*/
  background-color: var(--user-color);

  background-image: url('../imgs/sendButton.svg');
  -webkit-background-size: 50% 50%;
          background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  /*transition-duration: 300ms;*/
}

/*.sendButton:active {
  background-color: var(--user-color);
}*/

.sendButton:disabled {
  background-color: #d2d2d2 !important;
}

/*.sendButton:active {
  background-color: var(--user-color) !important;
}*/

.sendButtonImg {
  background-image: url('../imgs/sendButton.svg');
  -webkit-background-size: 50% 50%;
          background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 100%;
}

.message {
  padding: 0.5em;
  margin: 0.4em 1em;
  background: #212121;
  color: #ff8cc5;
  display: table;
  -webkit-border-radius: 0.3em;
          border-radius: 0.3em;
  font-size: 1.5em;
  text-shadow: 0 0px 8px #000000;
  -webkit-box-shadow: 0px 2px 20px -1px rgba(255, 105, 180, 0.7);
          box-shadow: 0px 2px 20px -1px rgba(255, 105, 180, 0.7);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: zoom 500ms ease 1;
          animation: zoom 500ms ease 1;
}

@-webkit-keyframes zoom {
  0%   {
    height: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    height: 1em;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0%   {
    height: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    height: 1em;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.messagesContainer {
  padding: 2em 0;
  overflow-y: scroll;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.messagesContainer::-webkit-scrollbar {
    display: none;
}

form {
  /*position: absolute;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*bottom: 0;*/
  /*top: calc(100vh - 56px);*/
  width: -webkit-calc( 100% - 1rem );
  width: calc( 100% - 1rem );
  /*margin: 2em 0.5rem;*/
  margin: 5em 0.5rem 0;
}

.textForm {
  visibility: visible;
}

.textarea-container {
  position: relative;
  width: -webkit-calc( 100% - var(--send-button-size) - 1rem );
  width: calc( 100% - var(--send-button-size) - 1rem );
}

textarea {
  -webkit-border-radius: 0;
          border-radius: 0;
}

textarea::-webkit-input-placeholder {
  color: #d2d2d2;
}

textarea::-moz-placeholder {
  color: #d2d2d2;
}

textarea:-ms-input-placeholder {
  color: #d2d2d2;
}

textarea::-ms-input-placeholder {
  color: #d2d2d2;
}

textarea::placeholder {
  color: #d2d2d2;
}

textarea:active, textarea:focus {
  border-color: var(--user-color);
  -webkit-border-radius: 0;
          border-radius: 0;
}

.wordwrap {
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}

.textarea-size {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.newTA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  width: 100%;
  /*box-sizing: border-box;*/
  border-width: 0;
  /*height: 2.5rem;*/
  /*padding: 0.55rem;*/
  padding: 0;
  line-height: 20px;

  border: 1px #e6e6e6 solid;
  border-top: none;
  border-right: none;
  border-left: none;
  outline:none;

  background: transparent;
  color: #fff
}

.promptContainer {
  text-align: center;
  background: #444444;
  color: hotpink;
  padding: 2rem;
  font-size: 2.5rem;
  text-shadow: 0 0px 12px #e070a7;
  -webkit-border-radius: 0 0 50px 50px;
          border-radius: 0 0 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid hotpink;
  border-top: transparent;
  -webkit-box-shadow: 0px 3px 20px rgba(255, 105, 180, 0.7);
          box-shadow: 0px 3px 20px rgba(255, 105, 180, 0.7);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.scoreContainer {
  background: #353535;
  color: hotpink;
  padding: 2rem;
  font-size: 2.5rem;
}

.users {
  background: #353535;
  color: hotpink;
  padding: 2rem;
  font-size: 2.5rem;
}

.noYesContainer {
  /*visibility: hidden;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0.5em;
}

.noYesContainer>button {
  height: 40px;
  width: 100%;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin: 0 0.5em;
}

.ttButtonContainer {
  /*visibility: hidden;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  /*margin: 0.5em;*/
}

.ttButtonContainer>button {
  /*height: 200px;*/
  height: 30%;
  width: 100%;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  /*margin: 0 0.5em;*/
  /*background-color: #fff;*/
  background: -webkit-linear-gradient(60deg, var(--user-color), #fff);
  background: -o-linear-gradient(60deg, var(--user-color), #fff);
  background: linear-gradient(30deg, var(--user-color), #fff);
  -webkit-box-shadow: #000 0px 2px 24px 0px;
          box-shadow: #000 0px 2px 24px 0px;
  /*transition-duration: 100ms;*/
}

.ttButtonContainer>button:active {
  /*background: var(--user-color);*/
  background: -webkit-linear-gradient(330deg, var(--user-color), #fff);
  background: -o-linear-gradient(330deg, var(--user-color), #fff);
  background: linear-gradient(120deg, var(--user-color), #fff);
  -webkit-box-shadow: inset #000 0px 2px 10px 2px;
          box-shadow: inset #000 0px 2px 10px 2px;
}

.ttButtonContainer>button:disabled {
  /*background-color: var(--user-color);*/
  opacity: 0.5;
  /*color: #fff;*/
  -webkit-box-shadow: inset #000 0px 2px 10px 2px;
          box-shadow: inset #000 0px 2px 10px 2px;
}

.or {
  color: var(--user-color);
  margin: 1.5rem 0;
}

.hidden {
  visibility: hidden;
}

.blue {
  background: #0000ff;
}

.none {
  display: none;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.flashAnim {
  -webkit-animation: flashgo 1s 1;
          animation: flashgo 1s 1; /* IE 10+, Fx 29+ */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes flashgo {
  0%   {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes flashgo {
  0%   {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}



/* BUTTONS */

/*body {
  background-color: #0a0a0a;
  font-family: Helvetica Neue, Arial, serif;
  padding: 50px;
  text-align: center;
}*/

.ynButtonContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 2em 0;
}

.bYes {
  width: 2em;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  text-align: center;
  background-image: -webkit-radial-gradient(#f987c1, #D65695);
  background-image: -o-radial-gradient(#f987c1, #D65695);
  background-image: radial-gradient(#f987c1, #D65695);
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0 20px 0 0 #D65695, 0 20px 20px 0 #e55ca0;
          box-shadow: 0 20px 0 0 #D65695, 0 20px 20px 0 #e55ca0;
  text-shadow: 0 1px 5px rgba(255, 255, 255, 0.45), -2px -3px 5px rgba(255, 255, 255, 0.25);
  -o-transition: box-shadow 100ms, -o-transform 100ms;
  -webkit-transition: box-shadow 100ms, -webkit-transform 100ms;
  -webkit-transition: opacity 250ms, -webkit-box-shadow 100ms, -webkit-transform 100ms;
  transition: opacity 250ms, -webkit-box-shadow 100ms, -webkit-transform 100ms;
  -o-transition: box-shadow 100ms, transform 100ms, opacity 250ms;
  transition: box-shadow 100ms, transform 100ms, opacity 250ms;
  transition: box-shadow 100ms, transform 100ms, opacity 250ms, -webkit-box-shadow 100ms, -webkit-transform 100ms;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 3px solid #e070a7;
  border-top: 1px solid #ffa7d2;
  border-bottom: 1px solid #dc649f;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 40px;
  display: inline-block;
  padding: 0.75em 11vw;
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /*margin: 1em;*/
  opacity: 1;
}
.bYes:before {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-transition: box-shadow 300ms, background 300ms;
  -webkit-transition: box-shadow 300ms, background 300ms;
  -webkit-transition: background 300ms, -webkit-box-shadow 300ms;
  transition: background 300ms, -webkit-box-shadow 300ms;
  transition: box-shadow 300ms, background 300ms;
  transition: box-shadow 300ms, background 300ms, -webkit-box-shadow 300ms;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 18px;
  content: "";
  height: 3px;
  left: 20%;
  width: 60%;
  position: absolute;
  right: 20%;
}
.bYes:hover {
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-image: -webkit-radial-gradient(#FF8AC6, #E55CA0);
  background-image: -o-radial-gradient(#FF8AC6, #E55CA0);
  background-image: radial-gradient(#FF8AC6, #E55CA0);
}
.bYes:active {
  -webkit-box-shadow: 0 5px 0 0 #D65695, 0 5px 20px 0 #e55ca0;
          box-shadow: 0 5px 0 0 #D65695, 0 5px 20px 0 #e55ca0;
  -ms-transform: translateY(15px);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}



/* no button */

.bNo {
  width: 2em;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  text-align: center;
  background-image: -webkit-radial-gradient(#fbfbfb, #c3c1c1);
  background-image: -o-radial-gradient(#fbfbfb, #c3c1c1);
  background-image: radial-gradient(#fbfbfb, #c3c1c1);
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0 20px 0 0 #c3c3c3, 0 20px 20px 0 #e0e0e0;
          box-shadow: 0 20px 0 0 #c3c3c3, 0 20px 20px 0 #e0e0e0;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.45), -2px -2px 5px rgba(0, 0, 0, 0.25);
  -o-transition: box-shadow 100ms, -o-transform 100ms;
  -webkit-transition: box-shadow 100ms, -webkit-transform 100ms;
  -webkit-transition: opacity 250ms, -webkit-box-shadow 100ms, -webkit-transform 100ms;
  transition: opacity 250ms, -webkit-box-shadow 100ms, -webkit-transform 100ms;
  -o-transition: box-shadow 100ms, transform 100ms, opacity 250ms;
  transition: box-shadow 100ms, transform 100ms, opacity 250ms;
  transition: box-shadow 100ms, transform 100ms, opacity 250ms, -webkit-box-shadow 100ms, -webkit-transform 100ms;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 3px solid #d8d8d8;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #d0d0d0;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 40px;
  display: inline-block;
  padding: 0.75em 11vw;
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /*margin: 1em;*/
  opacity: 1;
}
.bNo:before {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-transition: box-shadow 300ms, background 300ms;
  -webkit-transition: box-shadow 300ms, background 300ms;
  -webkit-transition: background 300ms, -webkit-box-shadow 300ms;
  transition: background 300ms, -webkit-box-shadow 300ms;
  transition: box-shadow 300ms, background 300ms;
  transition: box-shadow 300ms, background 300ms, -webkit-box-shadow 300ms;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 18px;
  content: "";
  height: 3px;
  left: 20%;
  width: 60%;
  position: absolute;
  right: 20%;
}
.bNo:hover {
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  /*background-image: radial-gradient(#FF8AC6, #E55CA0);*/
  background-image: -webkit-radial-gradient(#ffffff, #c3c3c3);
  background-image: -o-radial-gradient(#ffffff, #c3c3c3);
  background-image: radial-gradient(#ffffff, #c3c3c3);

}
.bNo:active {
  /*box-shadow: 0 20px 0 0 #c3c3c3, 0 20px 20px 0 #e0e0e0;*/
  -webkit-box-shadow: 0 5px 0 0 #c3c3c3, 0 5px 20px 0 #e0e0e0;
          box-shadow: 0 5px 0 0 #c3c3c3, 0 5px 20px 0 #e0e0e0;
  -ms-transform: translateY(15px);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

.disabled {
  /*background-image: radial-gradient(#ffffff, #c3c3c3);*/
  opacity: 0.5;
  pointer-events: none;
}

.ySelected {
  -webkit-box-shadow: 0 5px 0 0 #D65695, 0 5px 20px 0 #e55ca0;
          box-shadow: 0 5px 0 0 #D65695, 0 5px 20px 0 #e55ca0;
  -ms-transform: translateY(15px);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

.nSelected {
  -webkit-box-shadow: 0 5px 0 0 #c3c3c3, 0 5px 20px 0 #e0e0e0;
          box-shadow: 0 5px 0 0 #c3c3c3, 0 5px 20px 0 #e0e0e0;
  -ms-transform: translateY(15px);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}
